p {
  font-family: Lato;
}

.user-form {
  padding: 20px;
}

.user-form .field {
  padding: 4px;
  margin: 1px;
  background: #afa;
}
.content-input {
  display: inline-block;
  width: 80px;
  margin-left: 5px;
}

.user-form .field label {
  display: inline-block;
  width: 120px;
  margin-left: 5px;
}

.user-form .field input {
  display: inline-block;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

tr {
  background-color: rgb(178, 148, 248);
}

td {
  background-color: #ffa;
}
