table{
    border-collapse: collapse;
  }
  
  td{
    border: 1px solid black;
  }
  
  #titulos{
    text-align: center;
    font-weight: bold;
    background-color: darkorchid;
  }

  #filas{
      background-color: paleturquoise;
  }
