<header>
  <h1>Peliculas</h1>
</header>

<app-tabla [hidden]="TablaVisible" [movies]="movies" (MiVar)="Edit($event) "></app-tabla>

<div [hidden]="EditarVisible">
  <form class="user-form">
    <div class="field">
      <label>Codigo:</label>
      <input class="content-input" type="text" name=code [(ngModel)]="movie.code" >
    </div>
    <div class="field">
      <label>Titulo:</label>
      <input class="content-input" type="text" name=title [(ngModel)]="movie.title" >
    </div>
    <div class="field">
      <label>Director:</label>
      <input class="content-input" type="text" name=director [(ngModel)]="movie.director" >
    </div>
    <div class="field">
      <label>Actores:</label>
      <input class="content-input" type="text" name=cast [(ngModel)]="movie.cast" >
    </div>
    <div class="field">
      <label>Fecha:</label>
      <input class="content-input" type="date" name=releaseDate [(ngModel)]="movie.releaseDate" >
    </div>
  </form>
  <p class="center">
    <button (click)="Prev()">Anterior</button>
    <button (click)="Next()">Siguiente</button>
    <button (click)="Cambio()">Tabla</button>
  </p>
</div>
<footer>
  <small>Abel Chineesta ©2020, Desarrollo de Interfaces, 2ºDAM</small>
</footer>