<header>
  <h1>Peliculas</h1>
</header>
<div [hidden]="TablaVisible">
  <table>
    <tr id="titulos">
      <th>ID</th>
      <th>Ttulo</th>
      <th>Director</th>
      <th>Actores</th>
      <th>Fecha</th>
      <th>Edit</th>
    </tr>
    <tr *ngFor="let movie of movies index as i;" id="filas">
      <td>{{movie.code}}</td>
      <td>{{movie.title}}</td>
      <td>{{movie.director}}</td>
      <td>{{movie.cast}}</td>
      <td>{{movie.releaseDate | date:"dd/MM/yyyy"}}</td>
      <td>
        <button (click)="Edit(i)">Editar</button>
      </td>
    </tr>
  </table>
</div>
<div [hidden]="EditarVisible">
  <form class="user-form">
    <div class="field">
      <label>Codigo:</label>
      <input class="content-input" type="text" name=code [(ngModel)]="movie.code" >
    </div>
    <div class="field">
      <label>Titulo:</label>
      <input class="content-input" type="text" name=title [(ngModel)]="movie.title" >
    </div>
    <div class="field">
      <label>Director:</label>
      <input class="content-input" type="text" name=director [(ngModel)]="movie.director" >
    </div>
    <div class="field">
      <label>Actores:</label>
      <input class="content-input" type="text" name=cast [(ngModel)]="movie.cast" >
    </div>
    <div class="field">
      <label>Fecha:</label>
      <input class="content-input" type="date" name=releaseDate [(ngModel)]="movie.releaseDate" >
    </div>
  </form>
  <p class="center">
    <button (click)="Prev()">Anterior</button>
    <button (click)="Next()">Siguiente</button>
    <button (click)="Cambio()">Tabla</button>
  </p>
</div>
<footer>
  <small>Abel Chineesta ©2020, Desarrollo de Interfaces, 2ºDAM</small>
</footer>